body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
}

header {
  background: #f8f9fa;
}

h1,
h2 {
  font-weight: bold;
}

footer {
  background: #343a40;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

.img-fluid {
  transition: transform 0.2s;
}

.img-fluid:hover {
  transform: scale(1.05);
}
